[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
python-twitter = "*"
pymongo = "*"
cython = "*"
e1839a8 = {editable = true,path = "."}
tur-text-norm = {editable = true,path = "."}

[dev-packages]

[requires]
python_version = "3.6"
