[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
python-twitter = "*"
pymongo = "*"
cython = "*"

[dev-packages]
turkish-normalization = {editable = true,path = "."}

[requires]
python_version = "3.6"
